footer{
	width: 96%;
	padding: 2%;
	margin-top: 220px;
}

.footer-left{
	float: left;
}

.footer-right{
	float: right;
	&:after{
		@include clearfix;
	}

	span{
		display: inline-block;
		padding: 12px;
		background: #FFF;
		cursor: pointer;
	}
}