footer{
	width: 96%;
	padding: 2%;
	margin-top: 220px;
	position: relative;

	&:after{
		@include clearfix;
	}
}

.footer-left{
	float: left;
}

.footer-right{
	float: right;

	span{
		display: inline-block;
		padding: 12px;
		background: #FFF;
		cursor: pointer;
	}
}

.background-image-box,
.footer-right-info{
	width: 200px;
	height: auto;
	background-color: #FFF;
	position: absolute;
	font-size: 12px;
	bottom: 75px;
	right: 27px;
	display: none;
	padding: 1%;
}


.background-image-box{
	&:after{
		@include clearfix;
	}	
}

.image-box{
	width: 50px;
	height: 50px;
	background-color: red;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
	float: left;
	// padding: 0 1.5%;
}