header{
	width: 96%;
	padding: 1% 2%;
	margin-bottom: 140px;	

	&:after{
		@include clearfix;
	}	
}

.header-left{
	float: left;

	ul{
		list-style-type: none;

		li{
			display: inline-block;

			i{
				margin-right: 10px;
			}

			a{
				margin: 20px;
				font-size: $primaryfontSize;
				color: #FFF;
			}
		}
	}
}

.header-right{
	font-size: $primaryfontSize;
	float: right;
	color: #FFF;
	
	i{
		margin-right: 10px;
	}
}