main{
	padding: 3%;
}

.main-inner{
	max-width: 600px;
	height: auto;
	margin: auto;
	margin-bottom: 50px;
}

.time-box{
	width: 190px;
	height: auto;
	float: left;
	margin-right: 10px;
	text-align: center;

	h3{
		font-size: 100px;
		color: #FFF;
	}
}
