main{
	padding: 2% 3%;
}

.main-inner{
	max-width: 600px;
	height: auto;
	margin: auto;
}

.time-box{
	max-width: auto;
	margin: auto;
	height: auto;
	text-align: center;

	h3{
		font-size: 100px;
		color: #FFF;
	}
}

.date-box{
	max-width: auto;
	margin: auto;
	height: auto;
	text-align: center;

	h3{
		font-size: 20px;
		color: #FFF;
	}	
}

