.notes-background{
	background: rgba(0,0,0,.4);
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 14px;
	// display: none;
	z-index: 99999999999999999;
	top: 0;
	left: 0;
}

.notes{
	width: 60%;
	max-width: 1000px;
	height: 500px;
	position: fixed;
	top: 50px;
	left: 50%;
	background: rgba(244,245,248, .8);
	transform: translate(-50%, 0);
}

.notes-header{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 3% 2%;
	background: #42445B;

	h4{
		color: #FFF;
		float: left;

		img{
			vertical-align: -10px;
			margin-left: 10px;
		}
	}

	h5{
		color: #FFF;
		float: right;
		margin-top: 5px;
	}	

	&:after{
		@include clearfix;
	}

	a{
		color: #FFF;
	}
}

.notes-main{
	width: 98%;
	height: 400px;
	overflow-y: hidden;
	overflow-y: scroll;
	margin: 7px auto;
	background: #FFF;	
} 

.notes-content{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 2%;
	border-bottom: 1px solid #F5F5F5;
	cursor: pointer;

	&:hover{
		background-color: #F5F5F5;
	}

	&:active{
		background-color: #E3E2E0;
	}	

	span{
		display: block;

		&:nth-of-type(1){
			color: #000;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}
}	

.notes-edit-area{
	width: 98%;
	height: 400px;
	overflow-y: hidden;
	overflow-y: scroll;
	margin: 7px auto;
	display: none;
}

.notes-submit,
.notes-body,
.notes-title{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 1% 2%;
}
