html, body, ul, ol, li, form, fieldset, legend, div,{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a{
  text-decoration: none;
}

fieldset, img {
  border: 0;
}

.outer-wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}