html{
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../../public/images/background.jpg");
	background-repeat: no-repeat;
	font-family: $fontFamily;
	background-size: cover;
	box-sizing: border-box;  
}

.outerwrapper{
	@include fullwidth;
}
